<div class="row">
    <div class="col-12">
        <form>
            <div class="card">
                <div class="card-header">ساخت کد تخفیف</div>
                <div class="card-body">
                    <div class="col-6">
                        <input class="form-control form-control-lg my-3" type="text" placeholder="کد تخفیفی" aria-label=".form-control-lg example">
                        <input class="form-control my-3" type="text" placeholder="میزان تخفیف" aria-label="default input example">
                        <input class="form-control form-control-sm my-3" type="text" placeholder="حداقل خرید " aria-label=".form-control-sm example">
                        <button class="my-1" type="submit">ثبت </button>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </form>
    </div>
</div>